# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xz

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

docsite/public/
*.zip
images/
ubuntu-4-pi/firmware-master/
ubuntu-4-pi/firmware-nonfree/
ubuntu-4-pi/rpi-linux/
ubuntu-4-pi/rpi-tools/
ubuntu-4-pi/toolchains/

# local files
Storage.sh
